
table {
  width: 100%;
}
td {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
td.check {
  width: 10px;
}
td.delete {
  width: 50px;
}
td.completed {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5)
}
.input-todo {
  flex-grow: 1;
  margin: 30px 0 8px;
}