
.login-container {
    width: 250px;
    margin: 100px auto;
}

.login-container input,
.login-container button,
.login-container a,
.login-container .error {
    display: block;
    margin-bottom: 20px;
}

.login-container input {
    width: 250px;
}
.login-container button {
    width: 250px;
}
.login-container a {
    text-align: center;
}
.login-container .error{
    color: red;
}