
.login-container {
    width: 250px;
    margin: 100px auto;
}

.login-container input,
.login-container button,
.login-container span,
.login-container .error {
    display: block;
    margin-bottom: 20px;
}
.login-container input {
    width: 250px;
}
.login-container input.has-validator {
    margin-bottom: 4px;
}
.login-container button {
    width: 250px;
}
.login-container .error{
    color: red;
}
.social-login {
    display: flex;
    flex-direction: row;
}
.social-login a {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: rgba(0,0,0,.7);
}
.social-login a:visited {
    color: rgba(0,0,0,.7);
}
.login-container .register {
    margin-top: 50px;
}
.login-container .err {
    padding-left: 2px;
    color: red;
}