.container {
  width: 800px;
  margin: 40px auto;
}

@media(max-width: 800px){
  .container {
    width: auto;
  }
}

table {
  width: 100%;
}
td {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
td.check {
  width: 10px;
}
td.delete {
  width: 50px;
}
td.completed {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5)
}
td.delete a {
  display: none;
}
tr:hover td.delete a {
  display: inline;
}

.input-todo {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  border: none;
}
input[type=text]:focus {
  outline: none;
}