body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: 16px;
  padding: 8px;
  background: #eee;
  border: 1px solid #ccc;
}

input[type=email],
input[type=text],
input[type=password]{
  padding: 4px 2px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}

input[type=email]:focus,
input[type=text]:focus,
input[type=password]:focus{
  outline: none;
}